body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif; }

@media only screen and (min-width: 1024px) {
  main {
    overflow: hidden; }
  .fondoIndex {
    width: 100%; }
  .titulo {
    text-align: center; }
  .titulo__pagina {
    font-size: 40px;
    text-align: center; }
  .subtitulo {
    text-align: center; }
  .descripcion {
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 250px; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .fondoIndex {
    width: 100%; }
  .titulo {
    font-size: 21px; }
  .titulo__pagina {
    font-size: 21px;
    text-align: center; }
  .descripcion {
    font-size: 20px;
    text-align: center; } }

@media only screen and (min-width: 1024px) {
  #navbarNav {
    justify-content: flex-end; }
    #navbarNav ul {
      font-size: 25px; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  #navbarNav {
    justify-content: flex-end;
    text-align: center; }
    #navbarNav ul {
      font-size: 20px; }
  .logoInicio {
    width: 80%; } }

@media only screen and (min-width: 1024px) {
  .whatsapp {
    width: 6%; }
  .facebook {
    width: 11%; }
  .instagram {
    width: 7%; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .logoFooter {
    display: flex;
    justify-content: center; }
  .datosFooter {
    top: 10px;
    font-size: 18px;
    text-align: center;
    position: relative; }
  .redes {
    top: 35px;
    text-align: center; }
  .whatsapp {
    width: 15%; }
  .facebook {
    width: 24%; }
  .instagram {
    width: 15%; } }

@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center; }
    .container .card {
      width: 338px;
      height: 330px;
      margin: 20px;
      text-align: center;
      transition: all 0.25s; }
      .container .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
      .container .card img {
        width: 330px;
        height: 220px; }
      .container .card h4 {
        font-weight: 600; }
      .container .card p {
        padding: 0 1rem;
        font-size: 25px;
        font-weight: 300; }
      .container .card a {
        font-weight: 500;
        text-decoration: none;
        color: black; }
  .imgNosotros {
    width: 100%;
    position: relative;
    top: 30px; }
  .quienes__somos {
    text-align: center;
    font-size: 45px;
    position: relative;
    top: 170px; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .container {
    padding: 5px; }
    .container .card {
      width: 338px;
      height: 330px;
      margin: 20px;
      text-align: center;
      transition: all 0.25s;
      margin: 0; }
      .container .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
      .container .card img {
        width: 336px;
        height: 220px; }
  .descripcionProyec {
    font-size: 25px; }
  .subtitulo {
    text-align: center; }
  .imgNosotros {
    width: 100%;
    position: relative;
    top: 30px; }
  .quienes__somos {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 70px; } }

@media only screen and (min-width: 1024px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "logo nav nav nav" "main main main main" "footer footer footer footer";
    grid-template-rows: 100px 1fr 286px;
    grid-template-columns: repeat(4, 25%); }
  .logo {
    grid-area: logo; }
  section.nav-nav {
    grid-area: nav;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    section.nav-nav ul li {
      text-decoration: none;
      display: inline-block;
      list-style: none;
      margin: 0 20px;
      position: relative; }
      section.nav-nav ul li::before {
        content: "";
        height: 3px;
        width: 0%;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.4s ease-out; }
        section.nav-nav ul li::before:hover {
          width: 100%; }
      section.nav-nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold; }
  main {
    grid-area: main; }
    main .formulario {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .formulario .casillas__form {
        width: 30%; }
      main .formulario .boton {
        width: 30%; }
      main .formulario .tituloForm {
        font-size: 25px; }
  .mapa {
    grid-area: main;
    display: flex;
    width: 100%; }
  .direccion {
    text-align: center;
    font-size: 25px; }
  footer {
    gird-area: footer; }
    footer .datosFooterGrid {
      display: flex;
      padding-left: 25px;
      font-size: 17px; }
      footer .datosFooterGrid .contactoFooterGrid {
        font-size: 17px; }
    footer .redesGrid .whatsappGrid {
      width: 10%; }
    footer .redesGrid .facebookGrid {
      width: 16%; }
    footer .redesGrid .instagramGrid {
      width: 10%; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "logo" "nav" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 150px 1fr 350px 200px; }
  header.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    padding: 0%; }
  section.nav-nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.nav-nav ul li {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      list-style: none;
      padding: 5px 5px; }
    section.nav-nav ul {
      padding: 0; }
    section.nav-nav a {
      text-decoration: none;
      color: black;
      font-weight: bold; }
  main {
    grid-area: main; }
    main .titulo__pagina {
      font-size: 30px; }
    main .formulario {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .formulario .casillas__form {
        width: 85%; }
      main .formulario .boton {
        width: 30%; }
      main .formulario .tituloForm {
        font-size: 25px;
        text-align: center; }
    main .mapa {
      width: 100%; }
  footer {
    gird-area: footer; }
    footer .datosFooterGrid {
      text-align: center;
      font-size: 17px; }
      footer .datosFooterGrid .contactoFooterGrid {
        font-size: 17px; }
    footer .redesGrid {
      text-align: center; }
      footer .redesGrid .whatsappGrid {
        width: 15%; }
      footer .redesGrid .facebookGrid {
        width: 24%; }
      footer .redesGrid .instagramGrid {
        width: 15%; } }
