$estilos:(
	ancho: 338px,
	alto: 330px,
	margen: 20px,
	centro: center,
	overflow: hidden,
	transicion: all 0.25s
);
@media only screen and (min-width: 1024px) {
	.container{
			display: flex;
			justify-content: center;
		.card{
			width: map-get($estilos, ancho);
			height: map-get($estilos, alto);
			margin: map-get($estilos, margen);
			text-align: map-get($estilos, centro);
			overflow: map-get($estilos, hidden);
			transition: map-get($estilos, transicion);
			&:hover{
	    	transform: translateY(-15px);
	    	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
			}
			img{
				width: 330px;
				height: 220px;
			}
			h4{
				font-weight: 600;
			}
			p{
				padding: 0 1rem;
				font-size: 16px;
				font-weight: 300;
			}
			a{
				font-weight: 500;
				text-decoration: none;
				color: black;
			}
		}
	}
}
@media only screen and (min-width: 0px) and (max-width: 768px){
	.container{
		.card{
			width: map-get($estilos, ancho);
			height: map-get($estilos, alto);
			margin: map-get($estilos, margen);
			text-align: map-get($estilos, centro);
			overflow: map-get($estilos, hidden);
			transition: map-get($estilos, transicion);
			&:hover{
	    	transform: translateY(-15px);
	    	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

