@media only screen and (min-width: 1024px){
	.gridPadre{
		display: grid;
		grid-template-areas: 
		"logo nav nav nav"
		"main main main main"
		"footer footer footer footer";
		grid-template-rows: 100px 1fr 286px;
		grid-template-columns: repeat(4, 25%);
	}
	.logo{
		grid-area: logo;
	}
	section.nav-nav{
		grid-area: nav;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		ul li{
			text-decoration: none;
			display: inline-block;
			list-style: none;
			margin: 0 20px;
			position: relative;
			&::before{
				content: "";
				height: 3px;
				width: 0%;
				background-color: black;
				position: absolute;
				left: 0;
				bottom: -10px;
				transition: 0.4s ease-out;
				&:hover{
					width: 100%;
				}
			}
			a{
				text-decoration: none;
				color: black;
				font-weight: bold;
			}
		}
	}
	main{
		grid-area: main;
		.formulario{
			display: flex;
			flex-direction: column;
			align-items: center;
			.casillas__form{
				width: 30%;
			}
			.boton{
				width: 30%;
			}
			.tituloForm{
				font-size: 25px;
			}
		}
	}
	.mapa{
		grid-area: main;
		display: flex;
		width: 100%;
	}
	.direccion{
		text-align: center;
		font-size: 25px;
	}
	footer{
		gird-area: footer;
		.datosFooterGrid{
			display: flex;
			padding-left: 25px;
			font-size: 17px;
			.contactoFooterGrid{
				font-size: 17px;
			}
		}
		.redesGrid{
			.whatsappGrid{
				width: 10%;
			}
			.facebookGrid{
				width: 16%;
			}
			.instagramGrid{
				width: 10%;
			}
		}
	}
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
	.gridPadre{
		display: grid;
		grid-template-areas: 
		"logo"
		"nav"
		"main"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 150px 1fr 350px 200px;
	}
	header.logo{
		grid-area: logo;
		display: flex;
		justify-content: center;
		padding: 0%;
	}
	section.nav-nav{
		grid-area: nav;
		display: flex;
		justify-content: center;
		align-items: center; 
		ul li{
			display: flex;
			flex-direction: column;
			text-decoration: none;
			text-align: center;
			list-style: none;
			padding: 5px 5px;
		}
		ul{
			padding: 0;
		}
		a{
			text-decoration: none;
			color: black;
			font-weight: bold;
		}
	}
	main{
		grid-area: main;
		.titulo__pagina{
			font-size: 30px;
		}
		.formulario{
			display: flex;
			flex-direction: column;
			align-items: center;
			.casillas__form{
				width: 85%;
			}
			.boton{
				width: 30%;
			}
			.tituloForm{
				font-size: 25px;
				text-align: center;
			}
		}
		.mapa{
			width: 100%;
		}
	}
	footer{
		gird-area: footer;
		.datosFooterGrid{
			text-align: center;
			font-size: 17px;
			.contactoFooterGrid{
				font-size: 17px;
			}
		}
		.redesGrid{
			text-align: center;
			.whatsappGrid{
				width: 15%;
			}
			.facebookGrid{
				width: 24%;
			}
			.instagramGrid{
				width: 15%;
			}
		}
	}
}