@media only screen and (min-width: 1024px){
	.gridPadre{
		display: grid;
		grid-template-areas: 
		"logo nav nav nav"
		"main main main main"
		"footer footer footer footer";
		grid-template-rows: 100px 1fr 286px;
		grid-template-columns: repeat(4, 25%);
	}
	.logoInicio{
		grid-area: logo;
	}
	#navbarNav{
		grid-area: nav;
	 	justify-content: flex-end;
	 	ul{
	 		font-size: 25px;
	 	}
	}
	main{
		grid-area: main;
		.formulario{
			display: flex;
			flex-direction: column;
			align-items: center;
			.casillas__form{
				width: 30%;
			}
			.boton{
				width: 30%;
			}
			.tituloForm{
				font-size: 25px;
			}
		}
	}
	.mapa{
		grid-area: main;
		display: flex;
		width: 100%;
	}
	.direccion{
		text-align: center;
		font-size: 25px;
	}
	footer{
		grid-area: footer;
		.datosFooterGrid{
			font-size: 22px;
			text-align: center;
			.contactoFooterGrid{
				font-size: 25px;
			}
		}
		.redesGrid{
			text-align: end;
			.whatsappGrid{
				width: 3%;
			}
			.facebookGrid{
				width: 5%;
			}
			.instagramGrid{
				width: 3%;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.gridPadre{
		display: grid;
		grid-template-areas: 
		"logo"
		"nav"
		"main"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 150px 1fr 200px;
	}
	header.logo{
		grid-area: logo;
		display: flex;
		justify-content: center;
		padding: 0%;
	}
	header#navbarNav{
		grid-area: nav;
		justify-content: flex-end;
		text-align: center;
		ul{
			font-size: 23px;
		}
	}
	.logoInicio{
		width: 56%;
	}
	main{
		grid-area: main;
		padding-top: 95px;
		.titulo__pagina{
			font-size: 43px;
		}
		.formulario{
			display: flex;
			flex-direction: column;
			align-items: center;
			.casillas__form{
				width: 85%;
			}
			.boton{
				width: 30%;
			}
			.tituloForm{
				font-size: 30px;
				text-align: center;
			}
		}
		.mapa{
			width: 100%;
		}
		.direccion{
			text-align: center;
		}
	}
	footer{
		grid-area: footer;
		.datosFooterGrid{
			text-align: center;
			font-size: 22px;
			.contactoFooterGrid{
				font-size: 25px;
			}
		}
		.redesGrid{
			text-align: center;
			.whatsappGrid{
				width: 7%;
			}
			.facebookGrid{
				width: 11%;
			}
			.instagramGrid{
				width: 7%;
			}
		}
	}
}

@media only screen and (min-width: 0px) and (max-width: 768px){
	.gridPadre{
		display: grid;
		grid-template-areas: 
		"logo"
		"nav"
		"main"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 150px 1fr 200px;
	}
	header.logo{
		grid-area: logo;
		display: flex;
		justify-content: center;
		padding: 0%;
	}
	header#navbarNav{
		grid-area: nav;
		justify-content: flex-end;
		text-align: center;
		ul{
			font-size: 20px;
		}
	}
	.logoInicio{
		width: 80%;
	}
	main{
		grid-area: main;
		padding-top: 55px;
		.titulo__pagina{
			font-size: 30px;
		}
		.formulario{
			display: flex;
			flex-direction: column;
			align-items: center;
			.casillas__form{
				width: 85%;
			}
			.boton{
				width: 30%;
			}
			.tituloForm{
				font-size: 25px;
				text-align: center;
			}
		}
		.mapa{
			width: 100%;
		}
		.direccion{
			text-align: center;
		}
	}
	footer{
		grid-area: footer;
		.datosFooterGrid{
			text-align: center;
			font-size: 17px;
			.contactoFooterGrid{
				font-size: 17px;
			}
		}
		.redesGrid{
			text-align: center;
			.whatsappGrid{
				width: 15%;
			}
			.facebookGrid{
				width: 24%;
			}
			.instagramGrid{
				width: 15%;
			}
		}
	}
}