@media only screen and (min-width: 1024px) {
	#navbarNav{
		justify-content: flex-end;
		ul{
			font-size: 25px;
		}
	}
}

@media only screen and (min-width: 0px) and (max-width: 768px){
	#navbarNav{
		justify-content: flex-end;
		text-align: center;
		ul{
			font-size: 20px;
		}
	}
	.logoInicio{
		width: 80%;
	}
}