body{	
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito', sans-serif;
}

$txAlign: center;
$posRelat: relative;
$fontSz: 21px;
@media only screen and (min-width: 1024px) {
	main{
		overflow: hidden;
	}
	.fondoIndex{
		width: 100%;
	}
	.titulo{
		text-align: $txAlign;
	}
	.titulo__pagina{
		font-size: 40px;
		text-align: $txAlign;
	}
	.subtitulo{
		text-align: $txAlign;
	}
	.descripcion{
		font-size: 45px;
		text-align: $txAlign;
		position: $posRelat;
		top: 250px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
	.fondoIndex{
		width: 100%
	}
	.titulo{
		font-size: $fontSz;
	}
	.titulo__pagina{
		font-size: $fontSz;
		text-align: $txAlign;
	}
	.descripcion{
		font-size: 20px;
		text-align: $txAlign;
	}
}